body { height: 100%; margin: 0; }

#editor-container {
    overflow-y: auto;
    height: 100vh;
    width: 100vw;
}

#editor {
    min-height: 50px;
    display: inline-block;
    width: 100%;
}

div#editor .paragraph {
    padding: 5 5 5 5;
    width: calc(100% - 10px);
    display: inline-block;
}

div#editor .paragraph:hover {
    background: rgba(0, 0, 0, 0.5);
}

div#editor .paragraph div.imageContainer { text-align: center; height: 100px; }
div#editor .paragraph div.imageContainer img{ max-height: 100%; max-width: 100%;}

.paragraphContainer { position: relative; }

.btnContainer { height: 100%; display: inline-block;}
.btn{ max-height: 50%;  }
.btn path {fill: #ffffff;}
.btn:hover path { fill: #FF4218; }

#btnH1 { max-height: 70%; }
#btnH2 { max-height: 60%; }

#edit-prefix-menu { height: 40px; background: #000000; }

#edit-suffix-menu { height: 0; background: #ffffff; }
