body { height: 100%; margin: 0; }

#editor-container {
    overflow-y: auto;
    height: 100vh;
    width: 100vw;
}

#editor {
    min-height: 50px;
    display: inline-block;
    width: 100%;
}

div#editor .paragraph {
    padding: 5 5 5 5;
    width: calc(100% - 10px);
    display: inline-block;
}

div#editor .paragraph:hover {
    background: rgba(0, 0, 0, 0.5);
}

div#editor .paragraph div.imageContainer { text-align: center; height: 100px; }
div#editor .paragraph div.imageContainer img{ max-height: 100%; max-width: 100%;}

.paragraphContainer { position: relative; }

#edit-prefix-menu { height: 7vmin; background: #000000; position: relative; display: flex; }
.btnContainer { height: 100%; display:inline-flex; flex-direction: column; justify-content: flex-end;}

.btnContainer .btnTopMargin {}
.btnContainer .btnBottomMargin { height: 30%; }
.btn { height: 40%; margin: 0 5px; }
.btn path {fill: #ffffff;}
.btn:hover path { fill: #FF4218; }

#btnMarginFirst { width: 20px;}
#btnMarginSecond { width: 5px;}

#btnH1 { height: 50%; }
#btnH2 { height: 45%; }

#edit-suffix-menu { height: 0; background: #ffffff; }
