body { height: 100%; margin: 0; }

#editor-container {
    overflow-y: auto;
    height: 100vh;
    width: 100vw;
}

#editor {
    min-height: 50px;
    display: inline-block;
    width: 100%;
}

div#editor .paragraph {
    padding: 5 5 5 5;
    width: calc(100% - 10px);
    display: inline-block;
}

div#editor .paragraph:hover {
    background: rgba(0, 0, 0, 0.5);
}

.paragraphContainer { position: relative; }

.btnBox {}
.btn { padding: 5; color: #ffffff; background: red; border-radius: 5px; display: inline-block;}

#edit-prefix-menu { height: 40px; background: rgba(0, 0, 0, 1); }
#btnH1.btn { font-size: medium; }
#btnH2.btn { font-size: smaller; }
#btnH3.btn { font-size: xx-small; }
#btnBold.btn{ font-weight: bold; }
#btnItalic.btn { font-style: italic; }
#btnUnderline.btn { text-decoration: underline; }
#btnCancelline.btn { text-decoration: line-through; }

#edit-suffix-menu { height: 40px; background: rgba(0, 0, 0, 1); }